@import url(https://fonts.googleapis.com/css?family=Raleway:300);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #360000c5, #000000d8);
    background-size: cover;
    z-index: -1;
    filter: blur(100%);
}

.layout-container {
    display: flex;
    gap: 70px 30px;
    max-width: 941px;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: center;
    width: 293px;
    height: 293px;
    flex-wrap: wrap;
}

.titulo-arma>h1 {
    display: flex;
    justify-content: center;
    color: white;
}

.titulo-arma>img {
    display: flex;
    margin-top: -20px;
    object-fit: contain;
}

.itens {
    display: flex;
    gap: 12px;
    margin-top: -20px;
}

.itens>div>h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(255, 255, 255);

}

.itens>div>img {
    border-top: 1px solid rgb(255, 0, 0);
    border-bottom: 1px solid rgb(255, 0, 0);
    object-fit: contain;
}

/*                                       ATIVE A GOSTO                                */

/* .corpo {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mola {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} */

.itens>div>p {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-top: 4px;
}

.btn-fabricar {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    margin-top: 10px;
    border: 1px solid red;
}

.btn-fabricar:hover {
    background-color: #f63b3b;
    box-shadow: 0 0 0 5px #f63b3b5f;
    color: #fff;
    border: none;
}

@media only screen and (max-width: 1366px) {
    .layout-container {
        justify-content: center;
        max-width: 641px;
        zoom: .8;
    }

    .container {
        justify-content: center;
        max-width: 641px;
        zoom: .7;
    }
}

@media only screen and (max-width: 1024px) {
    .layout-container {
        justify-content: center;
        max-width: 641px;
        zoom: .7;
    }

    .container {
        justify-content: center;
        max-width: 641px;
        zoom: .6;
    }
}